/* :root{
  background-color: black;
} */

body{
    background-color: rgb(110, 61, 194);
}

.container{
    background-color: rgb(110, 61, 194);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}

.form-control{
    margin: 20px;
    padding: 2%;
    width: 300px;

}

#submit{
    margin-left: 32%;
    align-items: center;
}


